doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/admin.js')
  title SSNoC - Admin
  body
    include includes/navbar.jade
    div.container
      form(action='/admin', method='post')
      br
      input.name(type='text' class="form-control" name='citizen' id='citizen' placeholder="Which citizen do you want to search")
      br
      button(type="submit" class="btn btn-info btn-lg" id="searchCitizen") Search
      
    div.container
        br
        br
        if ( typeof citizens !== 'undefined' && citizens !== null )
          table.table.table-striped.table-bordered
            thead
              tr
                th  Item
                th  Information
            tbody
              each citizen in citizens
                if typeof citizen !== 'undefined'
                  tr
                    td Username
                    td #{citizen.local.user_name}
                  tr  
                    td Password
                    td #{citizen.local.password}
                  tr  
                    td Privilege
                    td #{citizen.local.privilege}
                  tr  
                    td Status
                    td #{citizen.local.account_status}
        
          form.form-horizontal(role='form')
            div.form-group
              label.col-sm-2.control-label(for='inputName') Username
              div.col-sm-10
                input#inputName.form-control(type='text' class='form-control' name='name' id="userName" placeholder= 'new username')
            div.form-group
              label.col-sm-2.control-label(for='inputPassword') Password
              div.col-sm-10
                input#inputPassword.form-control(type="password" class="form-control" name="password" id="passwd" placeholder= 'new password')
            div.form-group
              label.col-sm-2.control-label(for='inputPrivilege') Privilege
              div.col-sm-10
                select.form-control(name='privilege', id='privilege')
                  option(value="Citizen") Citizen
                  option(value="Coordinator") Coordinator
                  option(value="Monitor") Monitor
                  option(value="Administrator") Administrator
                      div.form-group
              label.col-sm-2.control-label(for='inputPrivilege') Privilege
            div.form-group 
              div.col-sm-10
                select.form-control(name='accountStatus', id='accountStatus')
                  option(value="Active") Active
                  option(value="Inactive") Inactive
          br
          button(type="submit" class="btn btn-info" id="saveChangeBtn") Save