doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/admin.js')
  title SSNoC - Admin
  body
    include includes/navbar.jade
    if ( typeof users !== 'undefined' && users !== null )
      div.container
        form(action='/admin', method='post')
        br
        input.name(type='text' class="form-control" name='citizen' id='citizen' placeholder="Which citizen do you want to search")
        br
        button(type="submit" class="btn btn-info btn-lg" id="searchCitizen") Search
      
    