doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/analysis.js')
  title SSNoC - Analysis
  body
    include includes/navbar.jade
    div.container
      br
      br 
      div.text-center
        h3 Specify a time window
      br
      form.form-horizontal(role='form')
        div.form-group
          label.col-sm-2.col-md-5.control-label within
          div.col-sm-2.col-md-2
            input.timeWindow(class="form-control" name='timeWindow' id='timeWindow' type='text' placeholder='how many')
          label.col-sm-0.col-md-0.control-label hours
      br
      div.text-center
        button(type="submit" class="btn btn-info btn-lg" id="analyzeBtn") Analyze

    div.container
    br
    br
    if ( typeof clusters !== 'undefined' && clusters !== null )
      table.table
        thead
          tr
            th #
            th cluster users
        tbody
          each cluster in clusters
            if typeof cluster !== 'undefined'
              tr
                td 1
                td #{cluster.local.used_id}


