doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/chat.js')
  title SSNoC - Wall
  body
    include includes/navbar.jade
    div.container
      br
      if chats !== null
        each c in chats
          div.well
            div.row
              li= " " + c.target_name + "' : " + c.content
    div.container
      form(action='/chat', method='post')
        br
        textarea.form-control(type='text' class="form-control" name='message' id='message' rows='5' placeholder="Chat with your friend?")
        input.author_name.form-control(id="author_name" type="hidden" class='form-control' name='name' value=author_name)
        input.target_name.form-control(id="target_name" type="hidden" class='form-control' name='name' value=target_name)
        br
        button(type="submit" class="btn btn-info btn-lg" id="sendPrivateMessage") Send
