doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/chat.js')
  title SSNoC - Wall
  body
    include includes/navbar.jade
    div.container
      br
      br
      each c in chats
        div.well
          div.row
              li= " " + c.target_name + "' : " + c.content
