doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/chat.js')
  title SSNoC - Wall
  body
    include includes/navbar.jade
    div.container
      br
      br
      each m in messages
        div.well
          div.row
              li= " " + m.local.name + "' : " + m.local.m
    div.container
      form(action='/wall', method='post')
        br
        textarea.form-control(type='text' class="form-control" name='message' id='message' rows='5' placeholder="Chat with your friend?")
        br
        button(type="submit" class="btn btn-info btn-lg" id="sendPrivateMessage") Send
