doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/monitor.js')
  title SSNoC - People
  body
    include includes/navbar.jade
    div.container
      br
      h3 Measure Performance
      div.signup
        br
        form(action='/startperf', method='post', class='form-group')
          div.col-md-6
            input.name(type='text' class='form-control' name='location' id='location' placeholder="Enter performance test duration (seconds)")
          div.col-md-3
            button(type="submit" class="btn btn-primary" id="startPerfTestBtn") Start Performance Test
        br
        form(action='/stopperf', method='post', class='form-group')
          div.col-md-3.col-md-offset-6
            button(type="submit" class="btn btn-primary" id="stopPerfTestBtn") Stop Performance Test
      br
      h3 Measure Memory
      div.signup
        br
        form(action='/memtest', method='post', class='form-group')
          div.col-md-6
            input.name(type='text' class='form-control' name='location' id='location' placeholder="Enter memory test duration (seconds)")
          div.col-md-3
            button(type="submit" class="btn btn-primary" id="updateStatusBtn") Start Memory Test

