doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/people.js')
  title SSNoC - People
  body
    include includes/navbar.jade
    div.container
      br
      br
      div.well#myself.search_item
        div.row.user-row
          div.col-xs-3.col-sm-2.col-md-1.col-lg-1
            img(src="/img/green-dot.png" height=10)
            br
            img(src="/img/photo4.png" height=60)
          div.col-xs-8.col-sm-9.col-md-10.col-lg-10
            strong #{user_name}
          div.col-xs-8.col-sm-9.col-md-10.col-lg-10
            if lastStatus == "OK"
              img(src="/img/green.png" height=30) 
              strong &nbsp; #{lastStatus}
            else if lastStatus == "HELP"
              img(src="/img/yellow.png" height=30) 
              strong &nbsp; #{lastStatus}
            else if lastStatus == "EMERGENCY"
              img(src="/img/red.png" height=30) 
              strong &nbsp; #{lastStatus}
      div.well#participants_online
      br
      br
