doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/people.js')
  title SSNoC - People
  body
    include includes/navbar.jade
    div.container
      br
      br
      div.well#myself.search_item
        div.row.user-row
          div.col-sm-1.col-md-1.col-lg-1
            img(src="/img/green-dot.png" height=10)
            br
            img(src="/img/photo4.png" height=60)
          div.col-sm-3.col-md-3.col-lg-3
            strong #{user_name}
          div.col-sm-3.col-md-3.col-lg-3
            if lastStatus == "OK"
              img(src="/img/green.png" height=30) 
              strong &nbsp; #{lastStatus}
            else if lastStatus == "HELP"
              img(src="/img/yellow.png" height=30) 
              strong &nbsp; #{lastStatus}
            else if lastStatus == "EMERGENCY"
              img(src="/img/red.png" height=30) 
              strong &nbsp; #{lastStatus}
          div.col-sm-5.col-md-5.col-lg-5
            form(action='/status', method='post')
              div.signup
                div.form-group
                  select.form-control(name='status', id='status')
                    option(value="OK") I am OK, I do not need help
                    option(value="HELP") I need help, but this is not a life threatening emergency
                    option(value="EMERGENCY") I need help now, as this is a life threatening emergency!
                div.form-group
                  input.name(type='hidden' class="form-control" name='location' id='location' placeholder="Enter your current location")
              div.col-sm-2
                button(type="submit" class="btn btn-info" id="updateStatusBtn") Share Status
      div.well#participants_online
      br
      br
