doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/jquery-1.9.1.min.js')
  script(src='/js/jquery.dataTables.js')
  link(rel='stylesheet', href='/css/jquery.dataTables.css')
  script(src='/js/search.js')
  title SSNoC - Search results
  body
    include includes/navbar.jade
    div.container
      br
      br
      if ( typeof announcement_results !== 'undefined' && announcement_results !== null && announcement_results.length !== 0)  
        div.container
          table.table(id='tbl_announcements')
            thead
              tr
                th Announcement(s)
            tbody
              each announcement in announcement_results
                if typeof announcement !== 'undefined'
                  tr
                    td= "[" + announcement.local.author + " @ " + new Date(announcement.local.postedAt).toGMTString().slice(0, 22) + "] " + announcement.local.content
      if ( typeof users !== 'undefined' && users !== null )
        table.table.table-striped.table-bordered(id='tbl_users')
          thead
            tr
              th  Users Found
          tbody
            each user in users
              if typeof user !== 'undefined'
                tr
                  td #{user.local.name}    
      if ( typeof message_results !== 'undefined' && message_results !== null && message_results.length !== 0)  
        div.container
          table.table(id='tbl_private_message')
            thead
              tr
                th Chat(s)
            tbody
              each private_message in message_results
                if typeof private_message !== 'undefined'
                  tr
                    td= "[" + private_message.local.author_name+ " @ " + new Date(private_message.local.posted_at).toGMTString().slice(0, 22) + "] " + private_message.local.content
      if ( typeof search_results !== 'undefined' && search_results !== null && search_results.length !== 0)  
        div.container
          table.table(id='tbl_public_message')
            thead
              tr
                th WallMessage(s)
            tbody
              each public_message in search_results
                if typeof public_message !== 'undefined'
                  tr
                    td= "[" + public_message.local.author+ " @ " + new Date(public_message.local.postedAt).toGMTString().slice(0, 22) + "] " + public_message.local.content
   
