doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/wall.js')
  title SSNoC - Wall
  body
    include includes/navbar.jade
    div.container
      form(action='/wall', method='post')
        br
        br
        div.row.text-center.col-sm-8
          div.signup
            textarea.form-control(type='text' class="form-control" name='content' id='content' rows='3' placeholder="Share a message with the community")
            div.form-group
              input.name(type='hidden' class="form-control" name='location' id='location' placeholder="Enter your current location")
        div.col-sm-4
          button(type="submit" class="btn btn-info" id="shareMessageBtn") Share Message
      br
      br
      form(action='/status', method='post')
        br
        br
        div.row.text-center.col-sm-8
          div.signup
            div.form-group
              select.form-control(name='status', id='status')
                option(value="OK") I am OK, I do not need help
                option(value="HELP") I need help, but this is not a life threatening emergency
                option(value="EMERGENCY") I need help now, as this is a life threatening emergency!
            div.form-group
              input.name(type='hidden' class="form-control" name='location' id='location' placeholder="Enter your current location")
        div.col-sm-4
          button(type="submit" class="btn btn-info" id="updateStatusBtn") Share Status
    div.container
      br
      br
      if messages !== null
        each message in messages
          if typeof message !== 'undefined'
            div.well  
              if message.local.content == "OK"
                br
                li= " " + message.local.author + "'s Status: " + message.local.content + " @ " + message.local.location + ", Time: " + new Date(message.local.postedAt).toGMTString().slice(0, 25)
                br
                img(src="/img/green.png" height=30)
              else if message.local.content == "HELP"
                br
                li= " " + message.local.author + "'s Status: " + message.local.content + " @ " + message.local.location + ", Time: " + new Date(message.local.postedAt).toGMTString().slice(0, 25)
                br
                img(src="/img/yellow.png" height=30)
              else if message.local.content == "EMERGENCY" 
                br
                li= " " + message.local.author + "'s Status: " + message.local.content + " @ " + message.local.location + ", Time: " + new Date(message.local.postedAt).toGMTString().slice(0, 25)
                br
                img(src="/img/red.png" height=30)
              else
                br
                li= " " + message.local.author + "'s Status: " + message.local.content + " @ " + message.local.location + ", Time: " + new Date(message.local.postedAt).toGMTString().slice(0, 25)
                br
               
