doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/wall.js')
  title SSNoC - Wall
  body
    include includes/navbar.jade
    div.container
      form(action='/announcement', method='post')
        br
        br
        div.row.text-center.col-sm-10
          div.signup
            textarea.form-control(type='text' class="form-control" name='announcement' id='announcement' rows='3' placeholder="Post an announcement for the community")
            div.form-group
              input.name(type='hidden' class="form-control" name='location' id='location' placeholder="Enter your current location")
        div.col-sm-2
          button(type="submit" class="btn btn-info" id="shareAnnouncementBtn") Post Announcement
      br
    if ( typeof announcements !== 'undefined' && announcements !== null )  
      div.container
        div.panel.panel-warning
          div.panel-heading
            h3.panel-title Announcement(s)
          div.panel-body(style="height: 60px;overflow-y: scroll;")
            each announcement in announcements
              if typeof announcement !== 'undefined'
                p announcement
    div.container
      form(action='/wall', method='post')

        div.row.text-center.col-sm-10
          div.signup
            textarea.form-control(type='text' class="form-control" name='content' id='content' rows='3' placeholder="Share a message with the community")
            div.form-group
              input.name(type='hidden' class="form-control" name='location' id='location' placeholder="Enter your current location")
        div.col-sm-2
          button(type="submit" class="btn btn-info" id="shareMessageBtn") Share Message
      br
      br
      form(action='/status', method='post')
        br
        br
        div.row.text-center.col-sm-10
          div.signup
            div.form-group
              select.form-control(name='status', id='status')
                option(value="OK") I am OK, I do not need help
                option(value="HELP") I need help, but this is not a life threatening emergency
                option(value="EMERGENCY") I need help now, as this is a life threatening emergency!
            div.form-group
              input.name(type='hidden' class="form-control" name='location' id='location' placeholder="Enter your current location")
        div.col-sm-2
          button(type="submit" class="btn btn-info" id="updateStatusBtn") Share Status
    div.container
        br
        br
        table.table.table-striped
          if messages !== null
            thead
              tr
                th Time
                th Status/Message
            each message in messages 
              tbody      
                if typeof message !== 'undefined' 
                  if message.local.content == "OK"
                    tr
                      td  
                        = "[" + new Date(message.local.postedAt).toGMTString().slice(0, 25) + "] " 
                      td  
                        = message.local.author + "'s Status: " + message.local.content + "     "
                          img(src="/img/green.png" height=30)
                  else if message.local.content == "HELP"
                    tr
                      td
                        = "[" + new Date(message.local.postedAt).toGMTString().slice(0, 25) + "] "
                      td
                        = message.local.author + "'s Status: " + message.local.content + "     "
                          img(src="/img/yellow.png" height=30)
                  else if message.local.content == "EMERGENCY"  
                    tr
                      td
                        = "[" + new Date(message.local.postedAt).toGMTString().slice(0, 25) + "] "
                      td
                        = message.local.author + "'s Status: " + message.local.content + "     "
                          img(src="/img/red.png" height=30)
                  else
                      tr
                      td
                        = "[" + new Date(message.local.postedAt).toGMTString().slice(0, 25) + "] "
                      td
                        = message.local.author + " posted: " + message.local.content
