doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/wall.js')
  title SSNoC - Wall
  body
    include includes/navbar.jade
    div.container
      br
      br
      each status in statuses
        div.well
          div.row
            li= " " + status.local.name + "'s Status: " + status.local.status + " @ " + status.local.location + ", Time: " + new Date(status.local.statusTime).toGMTString().slice(0, 25)

