doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  title SSNoC - Welcome
  body
    include includes/navbar.jade
    div.container.text-center
      br
      h3 Welcome to Survivable Social Network on a Chip!!
      a.btn.btn-info(href='/people') Let's start
